<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-dos">
  <template>
		<style>
		  :host {
			display: block;
		  }
		  h1{
			text-align:center;
			font-weight:bold;
			color: blue;
		  }	  
		  
		  .filtro{
			text-align:left;
			color:black;
			font-weight:bold;
		  }
		  
		  .styleTable{
			width:100%;
			height:auto;
			border-spacing: 0;
			border-collapse: collapse;		  
		  }
		  
		  .descripciones td{  
			text-align:center;
			font-weight:normal;
			color: red;					
			width:33.33%;
			border: 1px solid blue;	
			
			
		  }
		  .styleTD td{
			text-align:center;			
			font-weight:bold;
			color: black;			
			width:33.3%;	
			border: 1px solid blue;
			
		  }
		  .label{
			font-weight:normal;
			color: red;				
		  }
		</style>
		<ul class$="[[config.status]]">
			<li>[[config.nombre]]</li>
			<li>[[config.apepat]]</li>
			<li>[[config.apemat]]</li>				
		</ul>
		<h1>[[titulo]]</h1>
			<table class="styleTable">
				<tr class="styleTD"> 
					<td>Date</td>
					<td>Description</td>
					<td>Amount</td>
				</tr>
				<template is="dom-repeat" items='[[arrayValores]]'  as="tablaDinamica" filter="{{tablaFilter(searchString)}}">
					<tr class="descripciones">
						<td>[[tablaDinamica.date]]</td>
						<td>[[tablaDinamica.desc]]</td>
						<td>[[tablaDinamica.amount]]</td>
					</tr>
				</template>
			</table>
	</template>

  <script>
    /**
     * `componente-dos`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteDos extends Polymer.Element {
      static get is() { return 'componente-dos'; }
      static get properties() {
        return {
				 prop1: {
					type: String,
					value: 'Basic show-status demo'
				  },
				  config: {
					type: Object,
					value:{
						nombre:"Marino",
						apepat:"Castañeda",
						apemat:"Reyes"
					}
				  },
				titulo: {
					type: String,
					value: 'TABLA X'
				},
				arrayValores: {
					type: Array,
					value(){
						return [
							{date:"01-04-2019",desc:"Descripción 1",amount:"100.00"},
							{date:"01-04-2019",desc:"Descripción 1.1",amount:"200.00"},
							{date:"02-04-2019",desc:"Descripción 2",amount:"300.00"},
							{date:"02-04-2019",desc:"Descripción 2.1",amount:"400.00"},
							{date:"03-04-2019",desc:"Descripción 3",amount:"500.00"},
							{date:"03-04-2019",desc:"Descripción 3.1",amount:"600.00"},
							{date:"04-04-2019",desc:"Descripción 4",amount:"700.00"},
							{date:"04-04-2019",desc:"Descripción 4.1",amount:"800.00"},
							{date:"05-04-2019",desc:"Descripción 5",amount:"900.00"},
							{date:"05-04-2019",desc:"Descripción 5.1",amount:"1000.00"},
							{date:"05-04-2019",desc:"Descripción 5.2",amount:"1100.00"},
						]
					}
				}
        };
      }
    }

    window.customElements.define(ComponenteDos.is, ComponenteDos);
  </script>
</dom-module>
